<footer class="container-fluid bg-light">
    <div class="row">
        <section class="col text-bg-secondary">Left</section>
        <section class="col text-bg-secondary">Center</section>
        <section class="col text-bg-secondary">Right</section>
    </div>
</footer>